<h2 class="text-center font-bold text-gray-700 text-3xl">Your Cart</h2>

{{ if {cart:count} === 0 }}
    <p class="text-gray-800 text-lg text-center mt-12">Your cart is empty. <a href="{{ commerce:route key='products.index' }}">Browse for products</a>.</p>
{{ else }}
    <table class="table-auto mx-auto my-12 md:w-1/2">
        <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2">Product</th>
                <th class="px-4 py-2">Quantity</th>
                <th class="px-4 py-2">Price</th>
            </tr>
        </thead>
        <tbody>
            {{ cart:items }}
                <tr>
                    <td class="border px-4 py-2">
                        <a href="{{ product:url }}">{{ product:title }} ({{ variant:sku }})</a>

                        <form class="mt-1" action="{{ commerce:route key='cart.delete' }}" method="post">
                            {{ csrf_field }}
                            <input type="hidden" name="item_id" value="{{ uuid }}">

                            <button class="text-red-700 font-medium text-sm focus:outline-none" type="submit">Remove</button>
                        </form>
                    </td>
                    <td class="border px-4 py-2">
                        <div class="flex justify-center items-center">
                            <select name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </td>
                    <td class="border px-4 py-2">{{ total | price }}</td>
                </tr>
            {{ /cart:items }}
            <tr>
                <td class="px-4 py-2"></td>
                <td class="border px-4 py-2 font-semibold">Shipping</td>
                <td class="border px-4 py-2">{{ cart:total shipping='true' }}</td>
            </tr>
            <tr>
                <td class="px-4 py-2"></td>
                <td class="border px-4 py-2 font-semibold">Tax</td>
                <td class="border px-4 py-2">{{ cart:total tax='true' }}</td>
            </tr>
            <tr>
                <td class="px-4 py-2"></td>
                <td class="border px-4 py-2 font-semibold">Total</td>
                <td class="border px-4 py-2">{{ cart:total }}</td>
            </tr>
            <tr>
                <td class="px-4 py-2"></td>
                <td class="px-4 py-2">
                    <form action="{{ commerce:route key='cart.clear' }}" method="post">
                        {{ csrf_field }}
                        <button class="text-gray-700 font-medium text-center focus:outline-none" type="submit">Clear Cart</button>
                    </form>
                </td>
                <td class="px-4 py-2 flex justify-center">
                    <a class="bg-blue-600 hover:bg-blue-500 py-2 px-6 uppercase text-white font-bold" href="{{ commerce:route key='checkout.show' }}">Proceed to Checkout</a>
                </td>
            </tr>
        </tbody>
    </table>
{{ /if }}
