<div class="flex flex-row items-center justify-between">
    <h1 class="text-5xl font-bold mb-2 text-gray-800">{{ title }}</h1>
</div>

<div class="flex flex-row flex-wrap items-center">
    {{ products }}
        <a class="shadow-sm w-full md:w-1/4 mb-4 px-2" href="{{ url }}">
            <div class="px-2 py-4 bg-gray-200">
                <h2 class="font-gray-800 font-bold text-xl mb-1">{{ title }}</h2>
                <h3 class="font-gray-600 font-medium text-normal">{{ from_price }}</h3>
            </div>
        </a>
    {{ /products }}
</div>
