<h2 class="text-center font-bold text-gray-700 text-3xl">{{ title }}</h2>

<div class="flex flex-row items-center flex-wrap p-2">
    {{ products }}
        <a class="w-1/2 md:w-1/4 px-2 py-4" href="{{ url }}">
            <div class="h-40 bg-gray-200 mb-2"></div>
            <h2 class="text-gray-700 font-bold text-xl">{{ title }}</h2>
            <h3 class="text-gray-700 font-semibold text-sm">From {{ variants }}{{ if first }}{{ price | price }}{{ /if }}{{ /variants }}</h3>
        </a>
    {{ /products }}
</div>

<!-- TODO: pagination -->
<!--                    <div class="flex justify-center mt-4">-->
<!--                        <a class="bg-blue-600 hover:bg-blue-500 py-2 px-6 uppercase text-white font-bold" href="#">More Products</a>-->
<!--                    </div>-->
