<h2 class="text-center font-bold text-gray-700 text-3xl">Checkout</h2>

{{ if {cart:count} === 0 }}
    <p class="text-gray-800 text-lg text-center mt-12">Your cart is empty. <a href="{{ commerce:route key='products.index' }}">Browse for products</a>.</p>
{{ else }}
    <table class="table-auto mx-auto my-12 md:w-1/2">
        <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2">Product</th>
                <th class="px-4 py-2">Quantity</th>
                <th class="px-4 py-2">Price</th>
            </tr>
        </thead>
        <tbody>
            {{ cart:items }}
                <tr>
                    <td class="border px-4 py-2">
                        <a href="{{ product:url }}">{{ product:title }} ({{ variant:sku }})</a>

                        <form class="mt-1" action="{{ commerce:route key='cart.delete' }}" method="post">
                            {{ csrf_field }}
                            <input type="hidden" name="item_id" value="{{ uuid }}">

                            <button class="text-red-700 font-medium text-sm focus:outline-none" type="submit">Remove</button>
                        </form>
                    </td>
                    <td class="border px-4 py-2 flex justify-center">
                        {{ quantity }}
                    </td>
                    <td class="border px-4 py-2">{{ total | price }}</td>
                </tr>
            {{ /cart:items }}
            <tr>
                <td class="px-4 py-2"></td>
                <td class="border px-4 py-2 font-semibold">Shipping</td>
                <td class="border px-4 py-2">{{ cart:total shipping='true' }}</td>
            </tr>
            <tr>
                <td class="px-4 py-2"></td>
                <td class="border px-4 py-2 font-semibold">Tax</td>
                <td class="border px-4 py-2">{{ cart:total tax='true' }}</td>
            </tr>
            <tr>
                <td class="px-4 py-2"></td>
                <td class="border px-4 py-2 font-semibold">Total</td>
                <td class="border px-4 py-2">{{ cart:total }}</td>
            </tr>
        </tbody>
    </table>

    <form x-data="{ billingSameAsShipping: true }" class="my-12 md:w-1/2 md:mx-auto" method="post" action="{{ commerce:route key='checkout.store' }}">
        {{ csrf_field }}

        <div class="flex flex-col mb-6">
            <h3 class="font-bold text-lg mb-2 text-gray-800">Contact Information</h3>
            <input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="text" name="name" placeholder="Full Name">
            <input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="email" name="email" placeholder="Email">
        </div>

        <div class="flex flex-col mb-6">
            <h3 class="font-bold text-lg mb-2 text-gray-800">Shipping Address</h3>
            <input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="text" name="shipping_address_1" placeholder="Address">
            <input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="text" name="shipping_city" placeholder="City">
            <div class="flex flex-row items-stretch mb-2">
                <select class="md:w-1/2 border rounded p-2 mb-2 outline-none mr-2" name="shipping_country">
                    {{ commerce:countries }}
                        <option value="{{ iso }}">{{ name }}</option>
                    {{ /commerce:countries }}
                </select>
                <input class="md:w-1/2 border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none ml-2" type="text" name="shipping_zip_code" placeholder="Postal Code">
            </div>
            <label class="mb-2 text-gray-800 flex flex-row items-center">
                <input class="border rounded p-2 mr-2" type="checkbox" x-model="billingSameAsShipping">
                Use same address for billing
            </label>
        </div>

        <template x-if="billingSameAsShipping === false">
        <div class="flex flex-col mb-6">
            <h3 class="font-bold text-lg mb-2 text-gray-800">Billing Address</h3>
            <input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="text" name="billing_address_1" placeholder="Address">
            <input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="text" name="billing_city" placeholder="City">
            <div class="flex flex-row items-stretch mb-2">
                <select class="md:w-1/2 border rounded p-2 mb-2 outline-none mr-2" name="billing_country">
                    {{ commerce:countries }}
                    <option value="{{ iso }}">{{ name }}</option>
                    {{ /commerce:countries }}
                </select>
                <input class="md:w-1/2 border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none ml-2" type="text" name="billing_zip_code" placeholder="Postal Code">
            </div>
        </div>
        </template>

        <div class="flex flex-col mb-6">
            <h3 class="font-bold text-lg mb-2 text-gray-800">Secure Payment</h3>

            {{ commerce:gateways }}
                {{ payment_form }}
            {{ /commerce:gateways }}

            <label class="mb-2 text-gray-800 flex flex-row items-center">
                <input class="border rounded p-2 mr-2" type="checkbox" name="consent" required>
                I give permission to process and store my personal data for the purposes of my order, customer service and analytics.
            </label>
        </div>

        <div class="flex justify-center md:w-1/2 mx-auto">
            <button class="bg-blue-600 hover:bg-blue-500 py-2 px-6 uppercase text-white font-bold">Complete Checkout</button>
        </div>
    </form>
{{ /if }}
