<!doctype html>
<html lang="{{ site_short_locale }}">
    <head>
        <title>{{ title }} | {{ site_name }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-200">
        <div id="app">
            <header class="bg-white w-full py-4 shadow-lg mb-12">
                <div class="container mx-auto flex flex-row items-center justify-between">
                    <a class="text-lg font-medium" href="{{ commerce:route key='products.index' }}">
                        {{ site_name }}
                    </a>

                    <nav>
                        {{ commerce:categories }}
                            <a class="font-normal text-normal mx-2" href="{{ url }}">
                                {{ title }}
                            </a>
                        {{ /commerce:categories }}

                        <a class="font-semibold text-normal mx-2" href="{{ commerce:route key='checkout.show' }}">
                            Cart ({{ cart:count }})
                        </a>
                    </nav>
                </div>
            </header>

            <div class="container mx-auto">
                <div class="bg-white shadow-lg p-8 rounded-sm">
                    {{ template_content }}
                </div>
            </div>

            <footer class="bg-gray-100 w-full mt-12 py-6">
                <p class="text-gray-900 font-semibold text-center text-lg">{{ site_name }} &copy {{ now format='Y' }}</p>
                <p class="text-gray-700 font-medium text-center text-sm">Site built with Statamic Commerce.</p>
            </footer>
        </div>

        <script>
            window.csrfToken = '{{ csrf_token }}';
            window.stripeKey = '{{ commerce:stripe_key }}';
            window.redeemCouponEndpoint = '{{ commerce:route key="redeem_coupon" }}';
            {{ if intent }}window.paymentIntent = '{{ intent }}';{{ /if }}
        </script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="/vendor/damcclean/commerce/js/web.js"></script>
    </body>
</html>
