<div class="flex flex-row items-center justify-between">
    <h1 class="text-5xl font-bold mb-2 text-gray-800">Products</h1>

    <form id="search-form" action="{{ commerce:route key='products.search' }}/results" method="post">
        {{ csrf_field }}
        <input class="border border-gray-500 focus:outline-none rounded-sm p-1 text-semibold text-gray-800" type="text" name="query" placeholder="Search Products" onsubmit="this.parentElement.submit()" required>
    </form>
</div>

<div class="flex flex-row flex-wrap items-center">
    {{ commerce:products }}
        <div class="shadow-sm w-full md:w-1/4 mb-4 px-2">
            <div class="px-2 py-4 bg-gray-200">
                <h2 class="font-gray-800 font-bold text-xl mb-1">{{ title }}</h2>
                <h3 class="font-gray-600 font-medium text-normal">{{ commerce:currency_symbol }}{{ from_price }}</h3>
            </div>
        </div>
    {{ /commerce:products }}
</div>
