<div class="bg-white rounded-lg w-2/3 px-4 py-6">
    {{ if gallery }}
        <div class="flex flex-row items-center my-6">
            {{ gallery }}
                <div class="px-6">
                    <img class="h-32" src="{{ value }}">
                </div>
            {{ /gallery }}
        </div>
    {{ /if }}

    <h2 class="text-4xl font-bold mb-2 text-gray-800">{{ title }}</h2>

    <div class="flex flex-row">
        <div class="w-2/3 leading-loose text-lg">
            {{ description | markdown }}
        </div>

        <div class="w-1/3">
            <h2 class="text-center text-2xl font-semibold">£{{ price }}</h2>

            <div class="my-4">
                <div class="bg-gray-100 flex flex-row p-2">
                    <span class="w-1/2 text-gray-800 font-bold">Stock</span>
                    <span class="w-1/2 {{ if stock_number <= 5 }} text-red-600 {{ /if }}">{{ if stock_number == 0 }}None in stock{{ else }}{{ stock_number }}{{ /if }}</span>
                </div>

                <div class="bg-gray-100 flex flex-row p-2">
                    <span class="w-1/2 text-gray-800 font-bold">Shipping</span>

                    {{ if free_shipping || shipping_price == 0 }}
                        <span class="w-1/2 text-green-600">Free shipping</span>
                    {{ else }}
                        <span class="w-1/2">£{{ shipping_price }}</span>
                    {{ /if }}
                </div>
            </div>

            <form class="my-6" method="post" action="/cart">
                <input type="hidden" name="slug" value="{{ slug }}">

                {{ if stock_number >= 1 }}
                    <input class="w-full border border-gray-600 p-1 text-semibold text-gray-800" type="number" name="quantity" value="1" placeholder="Quantity" required>
                {{ /if }}

                <button
                        class="mt-2 {{ if stock_number == 0 }} bg-gray-600 {{ else }} bg-blue-600 hover:bg-blue-800 {{ /if }} px-6 py-2 text-white font-semibold text-center text-lg w-full"
                        type="submit"
                        {{ if stock_number == 0 }} disabled {{ /if }}
                >
                    {{ if stock_number == 0 }}
                        Sold out
                    {{ else }}
                        Add to Cart
                    {{ /if }}
                </button>
            </form>
        </div>
    </div>
</div>
