{{ if count != 0 }}
    <h1 class="text-5xl font-bold mb-2 text-gray-800">Results for "{{ query }}"</h1>

    <div class="flex flex-row flex-wrap items-center">
        {{ results }}
            <div class="shadow-sm w-full md:w-1/4 mb-4 px-2">
                <div class="px-2 py-4 bg-gray-200">
                    <h2 class="font-gray-800 font-bold text-xl mb-1">{{ title }}</h2>
                    <h3 class="font-gray-600 font-medium text-normal">{{ from_price | price }}</h3>
                </div>
            </div>
        {{ /results }}
    </div>
{{ else }}
    <h1 class="text-5xl font-bold mb-2 text-gray-800">Search Products</h1>

    <form class="mt-6" action="{{ commerce:route key='products.search' }}/results" method="get">
        <div class="flex flex-row items-center">
            <label class="flex-1 font-medium text-gray-800">Query</label>
            <input class="w-2/3 border border-gray-600 p-1 text-semibold text-gray-800" type="text" name="query" placeholder="Rich Tea Biscuits" required>
        </div>

        <div class="w-1/2 mx-auto mt-4">
            <button class="mt-2 bg-blue-600 px-6 py-2 hover:bg-blue-800 text-white font-semibold text-center text-lg w-full">Search</button>
        </div>
    </form>
{{ /if }}
