<div class="bg-white rounded-lg w-2/3 px-4 py-6">
    {{ if count != 0 }}
        <h2 class="text-4xl font-bold mb-2 text-gray-800">Results for "{{ query }}".</h2>

        <div class="flex flex-col">
            {{ results }}
                <a class="w-full bg-gray-100 my-1 p-4 flex flex-row items-center justify-between" href="/products/{{ slug }}">
                    <h2 class="text-xl font-bold text-gray-800">{{ title }}</h2>
                    <h3 class="text-lg font-semibold">{{ commerce:currency_symbol }}{{ price }}</h3>
                </a>
            {{ /results }}
        </div>
    {{ else }}
        <h2 class="text-4xl font-bold mb-2 text-gray-800">Search</h2>

        <form action="{{ commerce:route key='products.search' }}/results" method="get">
            <div class="bg-gray-100 flex flex-row items-center p-2">
                <label class="w-1/3 text-gray-800 font-bold">Search</label>
                <input class="w-2/3 border border-gray-600 p-1 text-semibold text-gray-800" type="text" name="query" placeholder="Rich Tea Biscuits" required>
            </div>

            <div class="w-1/2 mx-auto">
                <button id="submit" class="mt-2 bg-blue-600 px-6 py-2 hover:bg-blue-800 text-white font-semibold text-center text-lg w-full">Search</button>
            </div>
        </form>
    {{ /if }}
</div>
