vendor
.DS_Store
.phpunit.result.cache
node_modules
package-lock.json
.php_cs.cache
.idea
.antlers.json

resources/dist/js/*.js
resources/dist/css/*.css
resources/dist/mix-manifest.json

tests/__fixtures__/users/*.yaml
