.sc_line_items_tax-fieldtype {
    display: none;
}

.product-variant-options {
    .publish-fields {
      display: grid;
      grid-template-columns: none !important;
      --grid-columns: none !important;
    }
}