<input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="text" name="cardholder" placeholder="Cardholder">
<input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="number" name="cardNumber" placeholder="Card Number">
<input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="month" name="expiryDate" placeholder="Expiry Date">
<input class="border rounded p-2 mb-2 text-gray-600 focus:text-gray-800 outline-none" type="text" name="cvc" placeholder="Security code">

<input type="hidden" name="gateway" value="{{ class }}">
