name: Test Suite

on:
  push:
  pull_request:

jobs:
  php_tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.1, 8.0]
        laravel: [9.*, 8.*]
        statamic: [3.3.*]
        os: [ubuntu-latest]
        include:
          - laravel: 9.*
            framework: ^9.1.0
            testbench: 7.*
          - laravel: 8.*
            framework: ^8.24.0
            testbench: 6.*
        exclude:
          - laravel: 9.*
            php: 7.4

    name: ${{ matrix.php }} - ${{ matrix.statamic }} - ${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Delete composer.lock
        run: rm composer.lock

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "statamic/cms:${{ matrix.statamic }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer install --no-interaction

      - name: Run PHPUnit
        run: composer test
        env:
          STRIPE_KEY: ${{ secrets.STRIPE_KEY }}
          STRIPE_SECRET: ${{ secrets.STRIPE_SECRET }}
          # MOLLIE_KEY: ${{ secrets.MOLLIE_KEY }}
          # MOLLIE_PROFILE: ${{ secrets.MOLLIE_PROFILE }}
